:root {
	--heading-fs: clamp(1.9rem, 4vw, 7rem);
	--border-radius: 0.5rem;
	--font-family: 'Muli', sans-serif;
	--body-fs: clamp(1rem, 2vw, 2rem);
	--spacing: 0.5em;
	--spaceing-resp: clamp(1.25rem, 4vw, 4rem);

	@media (prefers-color-scheme: light) {
		--bg-clr: #5F95B9;
		--container-clr: #e7ecef;
		--result-bg: white;
		--text-clr: #2e526a;
		--text-result-clr: var(--text-clr);
		--shadow: rgb(0 0 0 / 0.2);
	}

	--bg-clr: rgb(33, 33, 33);
	--container-clr: #2e526a;
	--result-bg: var(--text-clr);
	--text-clr: #e7ecef;
	--text-result-clr: var(--container-clr);
	--shadow: rgb(0 0 0 / 0.2);
}
