:root {
	--heading-fs: clamp(1.9rem, 4vw, 7rem);
	--border-radius: 0.5rem;
	--font-family: 'Muli', sans-serif;
	--body-fs: clamp(1rem, 2vw, 2rem);
	--spacing: 0.5em;
	--spaceing-resp: clamp(1.25rem, 4vw, 4rem);

	@media (prefers-color-scheme: light) {
		--bg-grad: linear-gradient(45deg, hsla(204, 39%, 55%, 1) 0%, hsla(185, 100%, 78%, 1) 100%);
		--container-clr: #e7ecef;
		--result-bg: white;
		--text-clr: #2e526a;
		--text-result-clr: var(--text-clr);
		--shadow: rgb(0 0 0 / 0.2);
	}

	--bg-grad: linear-gradient(45deg, black 0%, #00286c 100%);
	--container-clr: #2e526a;
	--result-bg: var(--text-clr);
	--text-clr: #e7ecef;
	--text-result-clr: var(--container-clr);
	--shadow: rgb(0 0 0 / 0.2);
}
