@use '../abstracts' as *;

input[type='number'] {
	text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='checkbox'] {
	transform: scale(1.5) translateX(-30%);
	accent-color: var(--accent-clr);

	@media (min-width: $lg) {
		transform: scale(2) translateX(-30%);
	}
}
