.modal {
	position: absolute;
	margin: auto;
	padding: 4vw;
	border-radius: var(--border-radius);
	background-color: var(--container-clr);
	background-color: var(--container-clr);
	color: var(--text-clr);
	font-size: var(--heading-fs);
	text-align: center;
	animation: fade-in 1s;
}
