@use '../abstracts' as *;
@use 'grid';

.container {
	--gap: calc(var(--spacing) * 2);
	@extend .grid;
	width: max(22rem, 50vw);
	padding: clamp(1.25rem, 4vw, 4rem);
	border-radius: var(--border-radius);
	background-color: var(--container-clr);
	box-shadow: 0 0 1rem var(--shadow);
}
