.result-container {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: flex-start;
	// width: 100%;
	height: 3.125em;
	padding: 0.75em 0.625em;
	border-radius: var(--border-radius);
	background-color: var(--result-bg);
	color: var(--text-result-clr);
	letter-spacing: 0.0625em;
}

.result-container #result {
	max-width: calc(100% - 3rem);
	width: 100%;
	height: 100%;
	border: 0;
	background: transparent;
}

.result-container .btn {
	position: absolute;
	top: 0.3125em;
	right: 0.3125em;
	width: 2.5em;
	height: 2.5em;
	color: var(--text-clr);
	background-color: var(--container-clr);
}
